{% load static %}


<link rel="stylesheet" href="{% static '/css/bd_slides.css' %}">
{% if birthdays.count > 0 %}

<div style="color: #ee7c15; text-align: center; font-size: 18px; margin-top: 5px;"> День рождения сегодня</div>
{% for birthday in birthdays%}
<div class="mySlides slidefade" style="border: solid 1px #ee7c15; border-radius: 5px;  overflow: auto;">
  <div class="bd_card">
    <div class="bd_card_photo">
      {% if birthday.photo %}
        <img width="185"  height="250" src="{{birthday.photo.url}}" />
      {% else %}
        <img width="185"  height="250" src='{% get_media_prefix %}photo/nophoto.jpg' />
      {% endif %}
    </div>
    <div class="bd_card_text">
      <div class="birthdayheader">{{birthday.name}}</div>
      {% if birthday.department %}
      <div class="text-department">({{birthday.department}})</div>
      {% endif %}
      <p class="card-wishes">{{birthday.birthdaywishes}}</p>
    </div>
  </div>
</div>
{% endfor %}

{% endif %}
<script type="text/javascript">
  startSlides();
</script>