{% load static %}
<link rel="stylesheet" href="{% static '/css/bd_slides.css' %}">



{% if birthdays.count > 0 %}
  <div class="card text-center birthdayheader" style="margin: 40px 0px 0px auto; border-color: #ee7c15;">
  <div class="card-header birthdayheader" style = "border-color: #ee7c15;"> День рождения сегодня</div>
  {% for birthday in birthdays%}
  <div class="card-body text-dark mySlides slidefade" style="background-color: #ee7c15">
    <h5 class="card-title text-white">{{birthday.name}}</h5>
      {% if birthday.department %} 
      <p class="text-muted">({{birthday.department}})</p> 
      {% endif %}
    ва
    
    <p class="card-text">{{birthday.birthdaywishes}}</p>
    
  </div>
  {% endfor %}
</div>

{% endif %}
<script type="text/javascript">

  showSlides();
</script>