*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: #fff;
    font-family: 'Inter';
    font-style: normal;


    font-size: 20px;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fulscreen {
    display: flex;
    min-height: 100vh;


}

.fullscreen__body {
    flex: 1 1 auto;
}

.current_day_time {
    text-align: center;
    font-weight: 700;
    font-family: 'Inter';
    font-style: normal;
}

.current_time {
    color: #ee7c15;
    font-size: 92px;
    line-height: 111px;
    margin: 10px 10px;

}

.current_date {
    color: #EE7C15;
    font-size: 30px;
    line-height: 36px;
    margin: 10px 10px;
}

._content {
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 90px;
}

._footer {
    height: 80px;
    margin-top: -80px;
}

.logo {

    width: 391px;
    height: 150px;
    left: 20px;
    top: 10px;
    margin: 10px;
}

.devise {
    color: #ee7c15;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: italic;
    margin: auto;
    height: 100%;
    padding: 20px;
}

