{% load static %}
<div class="row g-0">
    <div class="col-sm-auto">
        <img class="logo" src="{% static '/img/logo.svg' %}"
            title="«Амиком» - системы безопасности и видеонаблюдения" alt="logo"/>
    </div>
    <div class="col ">
        <div id ='weatherplace'>
            Погода
        </div>
    </div>
    <div class="col-sm-auto current_day_time">
            <span class="current_time" id="current_time">00:00</span>
            <br>
            <span class="current_date" id="current_date">00-00-0000</span>
    </div>
</div>