{% extends 'base.html' %}
{% load static %}
{% block scripts %}
<link rel="stylesheet" href="{% static '/css/calendar.css' %}">
<script>

    var append_increment = 0;
    var d = new Date();
    var pre_weather_timer = new Date();
    pre_weather_timer.setSeconds(0)
    var pre_event_timer = new Date();
    pre_event_timer.setSeconds(0);
    

    var year = d.getFullYear();
    var month_num = d.getMonth()
    var day = d.getDate();

    // var curd = new Date();
    // var curyear = curd.getFullYear();
    // var curmonth_num = curd.getMonth()
    // var curday = curd.getDate();
    var firstload = true;
    var required;
    console.log(d);



    setInterval(function () {
        curd = new Date();
        curyear = curd.getFullYear();
        curmonth_num = curd.getMonth()
        curday = curd.getDate();
        //срабатывает каждую минуту

        $.ajax({
            type: "GET",
            url: "{% url 'do_needreload' %}"

        })
            .done(function (response) {
                required = response;
            });


        //Обновление погоды каждые 15 минут
        var weather_timer = 15 * 60000
        if (new Date(pre_weather_timer.getTime() + weather_timer) < curd || firstload || required.required_reload) {
            pre_weather_timer = new Date();
            pre_weather_timer.setSeconds(0)
            $.ajax({
                type: "GET",
                url: "{% url 'weather' %}"  // URL to your view that serves new info
                // data: {'append_increment': append_increment}
            })
                .done(function (response) {
                    $('#weatherplace').html(response);

                });
        }
        //Обновление погоды каждые 15 минут
        var event_timer = 1 * 60000
        if (new Date(pre_event_timer.getTime() + event_timer) < curd || firstload || required.required_reload) {
            console.log(curd);
            pre_event_timer = new Date();
            pre_event_timer.setSeconds(0);
            
            $.ajax({
                type: "GET",
                url: "{% url 'get_events_by_date' %}"
                //data: { 'year': curyear, 'month': curmonth_num + 1, 'day': curday }
            })
                .done(function (response) {
                    $('#placeevents').html(response);
                });
        }
        //Срабатывает каждый день
        if ((year != curyear || month_num != curmonth_num || day != curday) || firstload || required.required_reload) {
            firstload = false
            d = new Date();
            year = d.getFullYear();
            month_num = d.getMonth()
            day = d.getDate();
            $.ajax({
                type: "GET",
                url: "{% url 'get_all_birthdays' %}",
                data: { 'year': curyear, 'month': curmonth_num + 1, 'day': curday }
            })
                .done(function (response) {
                    $('#placebirthdays').html(response);
                });
            $.ajax({
                type: "GET",
                url: "{% url 'get_events_by_date' %}"
                //data: { 'year': curyear, 'month': curmonth_num + 1, 'day': curday }
            })
                .done(function (response) {
                    $('#placeevents').html(response);
                });
            $.ajax({
                type: "GET",
                url: "{% url 'get_calendar' %}"  // URL to your view that serves new info
                // data: {'append_increment': append_increment}
            })
                .done(function (response) {
                    $('#placecalendar').html(response);

                });
            // $.ajax({
            //     type: "GET",
            //     url: "{% url 'weather' %}"  // URL to your view that serves new info
            //     // data: {'append_increment': append_increment}
            // })
            //     .done(function (response) {
            //         $('#weatherplace').html(response);

            //     });

            $.ajax({
                type: "POST",
                url: "{% url 'needreload' '0' %}",
                data: { csrfmiddlewaretoken: getCookie('csrftoken') }


            })
                .done(function (response) {
                    required = response;
                });

        }
    }, 1000)
</script>
{% endblock scripts %}


{% block body %}

<body>
    <div class="container-flex">

        <div class="wrapper">
            <section class="fulscreen">
                <div class="fullscreen__body">

                    {% include '_header.html' %}
                    <div class="row g-0">
                        <div class="col-md-6 events">
                            <div id="placeevents"></div>
                        </div>
                        <div class="col-md-6 calendar">
                            <div id="placecalendar" style="padding: 0px 20px 0px 0px;"></div>
                            <div id="placebirthdays" style="padding: 0px 20px 0px 0px;">Дни рождения</div>
                        </div>
                    </div>
                    <div class="row g-0">
                        <div class="col-md-6">
                            <div></div>
                        </div>
                    </div>
                </div>
                {% comment %}
                <!-- {% include 'inc/_footer.html' %} -->
                {% endcomment%}
        </div>
        </section>
    </div>
    </div>

    {% endblock body %}



    {% comment %}
    <form action="/" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-block" name="nextmonth">Предыдущий
            месяц</button>
        <button type="submit" class="btn btn-primary btn-block" name="prevmonth">Следующий
            месяц</button>
    </form>
    {% endcomment %}
